NEXT_PUBLIC_BASEURL= #Backend Endpoint baseUrl
NEXT_PUBLIC_FRONTEND_URL= #Production URL
NEXTAUTH_SECRET= #Random string to hash tokens, This can be generated using $ openssl rand -base64 32
NEXTAUTH_URL= #This should be the production URL